@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(45, 37, 61);
    margin: 0px;
    flex: 1;
}

/*Top border page of site*/
.headers {
    
    display: flex;
    background: rgb(56, 56, 56);
    min-height: 80px;
    justify-content: space-between; /*Space between Title and Subheaders*/
    min-width: max-content;
    
}

.headers div{
    color: rgb(250, 28, 139);
    font-family: 'Roboto', sans-serif;
    
}

/* Title name Aron-Dante*/
#title {
    display: flex;

    line-height: 80px; /* Brings Arron-Dante Down inside box by 80px */
    
    margin-left: 20px; /* Spaces Arron-Dante from Border 20px */

    font-size: 20px;
}   

/* Subheaders container*/
.subHeaders {
    display: flex;
    
    gap: 70px; /* gap between subheader boxes*/
    margin-right: 20px;
    
}

/* Subheaders text and content*/
.subHeaders div {
    line-height: 80px;
    
    font-size: 20px;
}

/*Landing Page Introduction; Contains Portfolio Pic and Greetings*/

.landingIntro {

    display: flex;
    margin-top: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;


}

/*Styling for Profile Picture*/
.pfp{
    margin-right: 300px;
    border-radius: 12px;

}

#profilePic {
    width: 600px;
    height: auto;
    border-radius: 40px;
}



/*styling for Landing Text*/
.landingText{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 400px;
    align-items: center;

}

.landingText div {
   

}

.intro {
    font-size: 70px;
}

.subIntro {
    font-size: 20px;

}

/*The Hire Me Button*/
.hireButton{

    font-size: 20px;
    padding: 20px;
    background-color: rgb(250, 28, 139);
    

}


