@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-padding-top: 80px;
}


body {
    background-color: rgb(45, 37, 61);
    margin: 0px;
    padding-top: 120px;
}

body a{
    text-decoration: none;
}

/*Top border page of site*/
#headers {
    
    display: flex;
    background: #383838;
    min-height: 80px;
    justify-content: space-between; /*Space between Title and Subheaders*/
    min-width: 600px;
    gap: 40px;
    flex-wrap: wrap;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
#headers div{
    color: #fa1c8b;
    font-family: 'Roboto', sans-serif;
    
    
}
/* Title name Aron-Dante*/
#title {
    

    line-height: 80px; /* Brings logo Down inside box by 80px */
    
    margin-left: 20px; /* Spaces logo from Border 20px */

    width: 100px;
    height: auto;
}   
/* Subheaders container*/
#subHeaders {
    display: flex;
    gap: 50px; /* gap between subheader boxes*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    
    
}
/* Subheaders text and content*/
#subHeaders a {
    line-height: 80px;
    font-size: 20px;
    color: rgb(250, 28, 139);
}






/*Landing Page Introduction; Contains Portfolio Pic and Greetings*/
#landingIntro {

    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    min-width: 600px;
    

}
/*Styling for Profile Picture*/

#pfp{ /*Image container*/
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    
    
}

#profilePic { /*image*/
    width: 100%;
    height: auto;
    border-radius: 40px;
    flex-shrink: 1;
    display: block;
}

/*styling for Landing Text*/
#landingText{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-items: center;

}
#intro {
    font-size: 70px;
    text-align: center;
}

#subIntro {
    font-size: 20px;

}




/*The Hire Me Button*/
#hireButton{

    font-size: 20px;
    padding: 20px;
    background-color: rgb(250, 28, 139);
    border-radius: 12px;
    

}
#hireButton a {
    color: white;
}





/*About Page*/
#aboutPage {

    display: flex;
    background: #383838;
    font-family: 'Roboto', sans-serif;
    color: rgb(250, 28, 139);
    justify-content: center;
    gap: 100px;
    min-height: 1000px;
    align-items: center;
    flex-direction: row-reverse;
    min-width: 600px;
    flex-wrap: wrap;
    
}
#bio {
    display: flex;
    flex-direction: column;
    min-width: 400px;

}
#aboutTitle {
    font-size: 70px;
    margin-bottom: 0px;
}
#aboutPar {
    display: flex;
    font-size: 25px;
    
}
#aboutPar p {
    color: white;
    flex: 0 0 600px;

}
#aboutPfp {

    width: 500px;
    height: auto;
    border-radius: 50px
}




/* Skills Page*/
#skillsPage {

    display: flex;
    font-family: 'Roboto', sans-serif;
    color: rgb(250, 28, 139);
    gap: 50px;
    min-height: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 600px;
    flex-wrap: wrap;

}

#skillsPage h3 {

    font-size: 70px;
    
}


#skillsBoxes{
    display: flex;
  
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;

}

#skillsBoxes div {
    flex: 0 0 600px;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 20px;


}



#contactPage {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family:'Roboto', sans-serif;
    min-height: 500px;
    background: #383838;
}

#contactPage h1 {
    color: rgb(250, 28, 139);
}

#contactPage label {
    color: white;

}

#contactPage p {
    color: white;
}



#contactInfo {

    display: flex;

    flex-direction: column;
    gap: 10px;

    

}

#contactInfo input{
    margin-bottom: 50px;
}


